<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
    <div class="container">
        <h2 class="title">
            Create With
            <br />
            Us Today
        </h2>
        <p>
            Ready to turn inspiration into reality? Click now to connect with Thrush Designs
            and bring your artistic dreams to life! Let's collaborate and create something
            extraordinary together, your masterpiece awaits.
        </p>
        <a href="/contact" class="cs-button-solid">Let's get started!</a>
    </div>
    <picture>
        <source srcset="/assets/images/cta.webp">
        <img aria-hidden="true" decoding="async" src="/assets/images/cta.jpg" alt="Bead pattern" loading="lazy" width="2500" height="1667">
    </picture>

</section>