<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div id="footerLogo"></div>
        <div id="divideBar"></div>
        <div id="footerBird"></div>
        <div id="footerNav">
            <a href="/"><div class="footerMenuItem">HOME</div></a>
            <a href="/work"><div class="footerMenuItem">WORK</div></a>
            <a href="/blog"><div class="footerMenuItem">BLOG</div></a>
            <a href="/about"><div class="footerMenuItem">ABOUT</div></a>
        </div>
    </div>

    <div class="credit">
        <span>Designed and Hand Coded by</span>
        <a href="https://beckettsoftwaresolutions.com/" target="_blank" rel="noopener">Beckett Software Solutions</a>
        <span class="copyright">Copyright {% year %} - Present</span>
    </div>
</footer>