---
title: 'About Us'
description: 'Discover the captivating journey of a Seattle-based artist whose lifelong passion for creativity transforms ordinary items into extraordinary masterpieces. From unique art pieces crafted with ingenuity to breathtaking garden designs, explore the world of innovation and inspiration. Step into her home art studio, where imagination knows no bounds, and witness the magic of artistic expression come to life.'
preloadStdImg: '/assets/images/beads'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">About Us</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/beads-m.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/beads.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/beads.jpg" alt="Glass bead pattern" loading="eager" width="2500" height="1667">
        </picture>

    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(min-width: 601px)" srcset="/assets/images/light-fixture.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/light-fixture.jpg" alt="Light fixture" loading="lazy" width="400" height="563">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(min-width: 601px)" srcset="/assets/images/gayandevergon.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/gayandevergon.jpg" alt="Owner of Thrush Designs with her son Evergon" loading="lazy" width="400" height="563">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">About Thrush Designs</h2>
                <p class="cs-text">
                    Welcome to the heart of creativity, where artistry meets innovation. Born from a lifelong dedication to the craft, our artist's studio is a sanctuary of imagination and possibility. Here, ordinary items are elevated to new heights, transformed into captivating art pieces that defy convention.
                </p>
                <p class="cs-text">
                    Drawing inspiration from the world around us, each creation tells a story of ingenuity and passion. From reimagined classics to avant-garde marvels, our portfolio showcases the boundless potential of artistic expression.
                </p>
                <p class="cs-text">
                    But our artistry doesn't stop there. Step into the realm of garden design, where landscapes become living canvases. With a keen eye for detail and a love for nature's beauty, we craft breathtaking gardens that enchant and inspire.
                </p>
                <div class="cs-flex-group">
                    <p class="cs-flex-p">
                        Nestled within the comfort of our home studio, every creation is a labor of love. Here, amidst the tools of our trade and the whispers of inspiration, we invite you to witness the magic firsthand. Welcome to a world where art knows no limits – welcome to our studio.
                    </p>
                    <span class="cs-name">Gay Thrush</span>
                    <span class="cs-job">CEO-Founder</span>
                    <img class="cs-quote-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg" alt="gavel" width="136" height="77">
                </div>
                <a href="/work" class="cs-button-solid">Our Work</a>
            </div>
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}