---
title: 'Thrush Designs'
description: 'Discover the captivating world of Thrush Designs, a Seattle-based artist showcasing a diverse portfolio of stunning artwork. Explore enchanting photographs featuring unique creations in categories like Containers & Terrariums, Fine Art, and Garden Design & Coaching. Immerse yourself in a visual journey that celebrates creativity, nature, and the artistic spirit.'
preloadImg: '/assets/images/slideshow1.jpg'
preloadImg2: '/assets/images/slideshow2.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
    <script src="/assets/js/tiled-slideshow.js"></script>
    <script defer src="/assets/js/initVue.js"></script>
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}
    <section id="hero">
        <div id="slideshowPreviewImg" class="slideshowOuterContainer">
            <div class="slideshowInnerContainer">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/slideshow1-m.webp" type="image/webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/slideshow1.webp" type="image/webp">
                    <img aria-hidden="true" decoding="async" src="/assets/images/slideshow1.jpg" alt="new home" width="2500" height="1667" loading="eager" class="slideshowImg">
                </picture>
            </div>
        </div>
        <div id="previewPlaceholderRegion"></div>
        <tiled-slideshow :images="['{{preloadImg}}','{{preloadImg2}}']"></tiled-slideshow>
    </section>
    <section id="about">
        <div style="text-align: center;">
			<div class="logoBird"></div>
			<h1>Earth without art is just "Eh"</h1>
			<p style="margin: 30px 50px;">Here at Thrush Designs, we pride ourselves on making unique and creative artwork made by simple things. We make high quality custom glass terrariums and planters. We also provide custom gardening design and lighting to make your backyard come to life!</p>
			<div>
				<a class="greenLink" href="/work"><div style="margin-bottom: 20px;" class="thrushButton">SEE OUR WORK</div></a>
			</div>
		</div>
		<div class="divideBar"></div>
		<div id="homeWorkGrid">
			{% if collections.work | length == 0 %}
                <h1>No work found</h1>
            {% else %}
            {%- for work in collections.work | reverse -%}
				<div>
					<a href="{{work.url}}">
                        <div class="imageContainer">
						    <img src="{{work.data.gallery[0]}}">
					    </div>
                    </a>
					<a class="greenLink" href="{{work.url}}">
                        <div class="label">{{work.data.title}}</div>
                    </a>
				</div>
			{%- endfor -%}
            {% endif %}
		</div>
    </section>
    {% include 'components/cta.html' %}
{% endblock %}